{% extends "base.html" %}

{% block title %} Список Поездов {% endblock %}

{% block content %}

<h1 class="display-4 text-center my-4">Список поездов</h1>

<div class="row ">
  <div class='col-md-8 mx-auto'>
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="text-center" scope="col">Поезд</th>
          <th class="text-center" scope="col">Направление</th>
          <th class="text-center" scope="col">Редактировать</th>
        </tr>
      </thead>
      {% for train in trains %}
      <tbody>
        <tr>
          <td class="text-center font-weight-bold">
            <a href="{% url 'trains:detail' pk=train.id%}">
              {{train.name}}
            </a>
          </td>
          <td class="text-center">{{train}}</td>
          <td class="text-center"><button type="button" class="btn btn-outline-primary">
            <a href="{% url 'trains:update' pk=train.id %}">
              <img src="https://img.icons8.com/plasticine/2x/pencil.png" width="25" height="25" alt="">
            </a></button>
            <button type="button" class="btn btn-outline-danger">
            <a href="{% url 'trains:delete' pk=train.id %}">
              <img src="https://cdn3.iconfinder.com/data/icons/softwaredemo/PNG/256x256/DeleteRed.png" width="25" height="25" alt="">
            </a></button>
          </td>
        </tr>
      </tbody>
      {% endfor %}
    </table>
    <nav aria-label="...">
      <ul class="pagination">
        {% if trains.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page=1">First</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{ trains.previous_page_number }}">&laquo;</a>
        </li>
        {% endif %}

        {% for page in trains.paginator.page_range %}
        <li class="page-item {% if page == trains.number %} active {% endif %}">
          <a class="page-link" href="?page={{page}}">{{ page }}</a>
        </li>
        {% endfor %}

        {% if trains.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ trains.next_page_number }}">&raquo;</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{ trains.paginator.num_pages }}">Last</a>
        </li>
        {% endif %}

      </ul>
    </nav>
  </div>
</div>

{% endblock %}